.dashboard-main {
    margin-top: 50px;
}


.dashboard-header img {
    width: 100px;
    border-radius: 50%;
}

.user-name {
    margin-top: 10px;
    margin-bottom: 0;
}

.user-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.user-role {
    color: #777777 ;
}

#dashboard-content {
    margin-top: 30px;
}

.dashboard-nav {
    /* height: 500px; */
    border: 0.1px solid #777777;
    padding: 40px 30px;
    border-radius: 8px;
}

.nav-list li {
    list-style: none;
    font-size: 1.1rem;
    margin-bottom: 16px;
}

.nav-list li i {
    margin-right: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: #777777;
}

.nav-list li a.active {
    color: #0084FC;
}

.fa-shop, .fa-gears {
    margin-right: 8px!important;
    font-size: .9rem;
}


.analysis-card {
    border: .1px solid #cfcece;
    border-radius: 8px;
    margin-bottom: 16px;
    transition: all .1s;
    padding: 10px;
}

.analysis-card:hover {
    border-color: #0084FC;
}

.analysis-logo i {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    background-color: #3C81F6;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.analysis-title {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.analysis-compare {
    margin-bottom: 0;
}

.analysis-compare i, .analysis-compare span {
    margin-right: 3px;
    color: green;
}

.fa-equals {
    color: #3C81F6!important;
}

.equal-compare {
    color: #3C81F6!important;
}

.decrease-compare {
    color: red!important;
}

.fa-arrow-down-short-wide {
    color: red!important;
}

.total-revenue-section {
    margin-top: 16px;
    border: .1px solid #cfcece;
    border-radius: 8px;
    padding: 20px;
}

.chart-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

/* Product Listing */
.product-manage {
    margin-top: 16px;
}
.product-listing {
    border: 0.1px solid #777777;
    border-radius: 8px;
    padding: 20px;
}

.listing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-product {
    border: none;
    padding: 10px 15px;
    background-color: #0084FC;
    color: #fff;
    font-weight: 600;
    border-radius: 6px;
    transition: all .2s;
}

.add-product:hover {
    transform: scale(1.05);
}

/* Product Manage */
.edit-button, .delete-button {
    padding: 0 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: all .1s;
}

.edit-button {
    background-color: #0084FC;
}

.delete-button {
    background-color: #f01e2c;
}

.admin-pagination {
    display: flex;
    justify-content: center;
}

/* Modify Product */
.category-section {
    display: flex;
    justify-content: center
}

.category-section button {
    margin-right: 20px;
    border: none;
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.category-section button.active {
    color: #0084FC;
}

.product-listing form button {
    font-weight: 600;
    transition: all .2s;
    padding: 7px 25px;
}

.product-listing form button:hover {
    font-weight: 600;
    transform: scale(1.02);
}

