.cartMinus,
.cartPlus {
  font-size: 12px;
  width: 30px;
  height: 30px;
  margin: 0 10px; /* Adjust the value for desired spacing */
  border: none;
  border-radius: 50%;
}

.cartViewQuantity {
  margin: 0 6px; /* Spacing around the quantity */
  font-size: 24px;
}

.cartCoupon {
  margin-top: 30px;
}

.cartCoupon input {
  width: 30%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #8d8c8c;
  outline: none;
}

.cartCoupon button {
  padding: 15px 35px;
  margin-left: 20px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  transition: all 0.2s;
  font-weight: 600;
}

.cartCoupon button:hover {
  background-color: #0487ff;
  color: #fff;
}
