/* Categories Section */
.categoriesSection {
  margin-top: 70px;
}

.subCategoriesTitle {
  font-size: 20px;
}

.categoryProduct {
  margin-top: 50px;
  padding-top: 20px;
  height: 158px;
  background-color: #fff;
  border: 0.5px #cfcfcf solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkCategory {
  text-decoration: none;
  color: #000;
}

.categoryGraphic {
  font-size: 60px;
}

.categoryProductTitle {
  font-size: 20px;
}
