/* Product Table */
.tableCustom {
  overflow: auto;
  text-wrap: nowrap;
}

.editButton,
.deleteButton {
  padding: 0 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.1s;
}

.editButton {
  background-color: #0084fc;
}

.deleteButton {
  background-color: #f01e2c;
}
