/* Product Details */
/* Product Detail */
.product-detail {
  margin-top: 30px;
  width: 100%;
  /* height: 300px; */
  /* background-color: #cfcfcf; */
}

/* Product Image */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Product Info */
.wrap-product-info {
  height: 100%;
}

.wrap-product-info .wrap-top-info {
  padding: 15px;
  border-bottom: 1px solid #dcd5d5;
}

.wrap-top-info .product-name {
  margin-bottom: 1.8rem;
  font-weight: 600;
}

.wrap-top-info .product-price {
  font-size: 1.5rem;
  margin-bottom: 1.8rem;
}

.wrap-top-info .product-rating {
  margin-top: 1.8rem;
  display: flex;
}

.star-icon i {
  color: #ffdc60;
}

.wrap-top-info .product-rating .rating-number {
  margin-left: 0.5rem;
}

.wrap-bottom-info {
  padding: 15px;
}

.wrap-bottom-info .product-status p {
  margin-bottom: 0;
  color: #0487ff;
}

.product-status {
  margin-bottom: 2.3rem;
}

.product-status i {
  margin-right: 0.5rem;
}

.product-brief-intro {
  color: #9f9e9e;
}

.product-button .product-quantity {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.product-quantity span {
  font-size: 1.5rem;
}

.product-button {
  margin-top: 2.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-quantity button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2f6f9;
  border: none;
  transition: all 0.2s;
}

.product-quantity button i {
  font-size: 0.8rem;
}

.product-quantity button:hover {
  transform: scale(1.2);
}

.add-to-cart-button button {
  padding: 1rem 5.5rem;
  border-radius: 10px;
  background-color: #0487ff;
  border: none;
  color: #fff;
  font-weight: 600;
  transition: all 0.2s;
}

.add-to-cart-button button:hover {
  transform: scale(1.1);
}

.wishlist-button button {
  padding: 7px 15px;
  font-size: 1.5rem;
  background-color: #fff;
  color: #cfcfcf;
  transition: all 0.2s;
  border-radius: 10px;
  border: 1px solid #dcd5d5;
}

.wishlist-button button:hover {
  transform: scale(1.1);
  background-color: #0487ff;
  color: #fff;
}

/* Product Description */
.product-description {
  margin-top: 80px;
  background-color: #f9f3f0;
  padding: 20px 0;
}

.wrap-product-navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
  padding-left: 0;
  margin-bottom: 0;
}

.wrap-product-navbar ul li a {
  transition: all 0.1s;
}

.wrap-product-navbar ul li a:hover {
  border-bottom: 2px solid #0487ff;
  color: #0487ff;
}

.wrap-product-navbar ul .active a {
  border-bottom: 2px solid #0487ff;
  color: #0487ff;
}

.wrap-product-navbar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}

#wrap-product-description {
  margin-top: 2rem;
  padding: 1rem 0;
  display: block;
}

.wrap-description-section {
  margin-bottom: 2rem;
  line-height: 1.8rem;
}

.description-title,
.description-sub-title,
.section-title {
  font-weight: 600;
}

.description-image {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.description-image img {
  width: 100%;
  object-fit: cover;
}

/* Product Specification */
.specification-title {
  margin-bottom: 2rem;
}
.spec-table {
  margin: auto;
}
.spec-table table th {
  width: 10%;
}

/* Product Review */

.review-title {
  margin-top: 2rem;
}

.show-review-section,
.fill-review-section {
  margin-top: 1.5rem;
  /* background-color: pink; */
}

.show-user-review {
  margin-top: 30px;
  display: flex;
}

.user-avatar {
  width: 20%;
}

.user-avatar img {
  width: 80%;
  object-fit: cover;
  border-radius: 50%;
}

.review-detail .user-info {
  display: flex;
  justify-content: space-between;
}

.user-info p {
  margin-bottom: 0;
}

.review-text p {
  color: #8d8c8c;
}

.fill-review-section {
  margin-left: 2rem;
}

.fill-review-section p {
  color: #8d8c8c;
  margin-top: 30px;
}

.input-review-info {
  margin-top: 1.5rem;
}
.info-input {
  display: flex;
  gap: 1rem;
}

.form-floating {
  width: 50%;
}

.form-floating label span {
  color: rgb(244, 85, 85);
}

.submit-button {
  margin-top: 1rem;
}

.submit-button button {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #0487ff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

/* Viewed Products Section */
.viewed-product-section {
  margin-top: 50px;
}

.wrap-viewed-title {
  padding-top: 20px;
  margin-bottom: 40px;
}

.wrap-viewed-title .sub-viewed-title p {
  margin-bottom: 10px;
}

.sub-viewed-title p {
  display: flex;
  align-items: center;
  color: #0487ff;
  font-weight: 600;
}
.sub-viewed-title i {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background-color: #0487ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.sub-viewed-title h2 {
  font-weight: 600;
}

/* Viewed Products */
.warp-viewed-product {
  height: 400px;
  /* background-color: pink; */
}

.viewed-product-image {
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 250px;
}

.viewed-product-image img {
  width: 80% !important;
  object-fit: cover;
}

.warp-viewed-product a {
  text-decoration: none;
}

.product-text {
  margin-top: 1rem;
}

.product-text .product-name {
  margin-bottom: 10px;
  color: #919191;
}

.product-text .product-price {
  color: #fcb675;
}

.product-text p {
  margin-bottom: 0;
}

.product-row a {
  text-decoration: none;
  color: #000;
}

/* Contact Us */
/* Contact Section */
.contact-section {
  margin-top: 30px;
}

.wrap-contact-input,
.wrap-contact-info {
  padding: 20px;
}

.contact-title h3 {
  font-weight: 600;
}

.sub-contact-title {
  color: #b6b5b5;
}

.contact-input {
  display: flex;
  gap: 1rem;
}

.form-floating {
  width: 50%;
}

.form-floating label span {
  color: rgb(244, 85, 85);
}

.send-button {
  margin-top: 1rem;
}

.send-button button {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #0487ff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

.contact-for-hire {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Address Section */
.address-section {
  margin-top: 30px;
}

.google-map {
  position: relative;
}

/* Service Section */
.service-section {
  margin-top: 50px;
  padding: 16px;
}

.wrap-service {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-image img {
  width: 80%;
}

.service-text p {
  margin-bottom: 5px;
}

.service-text .upper-text {
  font-weight: 600;
}

.service-text .bottom-text {
  color: #b6b5b5;
}

.fix-1 {
  margin-left: -20px;
  gap: 6px;
}

.fix-2 .service-text {
  margin-left: -15px;
}

.fix-2 {
  margin-left: -34px;
  gap: 6px;
}

/* Cart Page */
.cart-view {
  /* background-color: #cfe6fc; */
  margin-top: 80px;
}

.cart-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.cart-top p {
  font-size: 28px;
}

.cart-top button {
  background-color: transparent;
  border: 0px;
  color: #0487ff;
}

.cart-coupon {
  margin-top: 30px;
}

.cart-coupon input {
  width: 30%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #8d8c8c;
  outline: none;
}

.cart-coupon button {
  padding: 15px 35px;
  margin-left: 20px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  transition: all 0.2s;
  font-weight: 600;
}

.cart-coupon button:hover {
  background-color: #0487ff;
  color: #fff;
}

.cart-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.cart-bottom .order-summary {
  width: 40%;
  background-color: #fbe5da;
  padding: 25px;
  font-size: 20px;
}

.order-title {
  font-size: 22px;
  margin-bottom: 32px;
}

.cart-bottom .order-summary .table {
  background-color: transparent !important;
  border-color: transparent !important;
}

.cart-bottom .order-summary .table tbody tr,
.cart-bottom .order-summary .table tbody td {
  background-color: transparent !important;
  border-color: transparent !important;
}

.cart-bottom .order-summary .input-group {
  background-color: transparent !important;
}

.cart-bottom .order-summary .input-group label {
  background-color: transparent !important;
}

.input-group input {
  margin-right: 10px;
}

.cart-bottom .order-summary .table tbody tr td {
  border-bottom: 20px solid #9f9e9e; /* Adds a transparent border to simulate spacing */
}

.cart-bottom .order-summary .table {
  border-spacing: 0 30px; /* Adds space between rows */
}

.cart-bottom .order-summary .table tbody td {
  padding-right: 80px;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

.table td {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
}

.checkout-button {
  display: flex;
  justify-content: center;
}

.checkout-button button {
  padding: 15px 120px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #0487ff;
  color: #fff;
  font-weight: 600;
  transition: all 0.2s;
}

.checkout-button button:hover {
  transform: scale(1.1);
}

.cart-view-quantity {
  margin: 0 6px; /* Spacing around the quantity */
}
.cart-minus,
.cart-plus {
  font-size: 12px;
  width: 30px;
  height: 30px;
  margin: 0 10px; /* Adjust the value for desired spacing */
  border: none;
  border-radius: 50%;
}

.cart-view-quantity {
  font-size: 24px;
}

/* Login Interface */
.wrap-user-logo {
  position: relative;
}

.login-interface {
  position: absolute;
}

.user-desktop {
  color: #000;
}

/* Responsive */
/* Desktop */
@media screen and (max-width: 1151px) {
  /* Cart View */
  .cart-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .cart-bottom .order-summary {
    width: 60%;
    background-color: #fbe5da;
    padding: 25px;
    font-size: 20px;
  }

  .order-title {
    display: flex;
    justify-content: center;
  }

  .order-summary table {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 780px) {
  .cart-bottom .order-summary {
    width: 400px;
    background-color: #fbe5da;
    padding: 25px;
    font-size: 14px;
  }

  .order-title {
    font-size: 16px;
  }

  .checkout-button button {
    padding: 15px 30px;
  }
}

/* Mobile */
@media screen and (max-width: 610px) {
  /* Search Box */
  .wrap-search-product {
    margin-top: 8px;
    height: auto;
    padding: 12px;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    display: block;
  }

  .add-to-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-to-cart-button button {
    width: 90%;
  }

  .search-product-info {
    display: flex;
  }

  /* Shopping Cart */
  .shopping-cart {
    width: 60%;
  }

  .cart-button {
    flex-direction: column;
    align-content: center;
  }

  .cart-button button {
    width: 100%;
    margin-bottom: 10px;
  }

  .cart-subtotal h2,
  .cart-subtotal span {
    font-size: 1.5rem;
  }

  /* Overlay of shopping-cart */
  body.darken-2::before {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .top-menu-mobile img {
    width: 80%;
    object-fit: cover;
  }

  .main-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    transform: translateX(-100%);
    transition: all 0.3s;
  }

  .top-menu-mobile span {
    padding-top: 0.3rem;
  }
  .top-menu-mobile span i {
    /* padding: 0.3rem 0.5rem; */
    background-color: #f2f6f9;
    border-radius: 50%;
    font-size: 80%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-main .owl-nav {
    top: -30.5%;
  }

  .product-text {
    padding-top: 130px;
    padding-left: 10px;
  }
}
